publish.py
save.py
archive
output
exemple_input
exemple_output
arc_output
__pycache__
.bilou
*.woff2
preload.py
preload.txt
*.mp3
*.ogg
input/**/*.jpg
input/**/*.png
input/**/*.gif
input/**/*.webp
*.zip
*.exe
input/include/webplayer/**/
easyrpg*
*.pickle
*.apk