.prez {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-radius: 16px;
    margin: 16px auto;
    width: 100%;
    margin-top: 1.5em;
    box-shadow: 0px 0px 6px var(--biloubgc80);
    background: linear-gradient(135deg, var(--biloubgct) 0%, var(--biloubgc33) 600px);
    box-sizing: border-box;
}
/* .prez a {
    color: #333;
    border: solid 2px white;
    background-color: #CCC;
    padding: 16px;
    border-radius: 14px;
    display: block;
    margin: 5px;
} */
.prez:last-of-type {
    margin-bottom: 1.5em;
}
.prez p {
    color: var(--bilouhighlight);
    font-family: BilouFontLight;
    padding: 0 0.5em;
}

@media screen and (max-width: 900px) {
    .prez {
        flex-direction: column;
    }
    .prez img {
        max-width: calc(100% - 2em);
    }
  }