<nav id="nav-index">
    <a href="/" title="Retour à l'index" style="height:calc(175%*2/9);width:calc(175%*2/9);margin-bottom:calc(-175%*2/9)">
        <img id="logo" src="/img/biloumaster.svg" alt="logo BilouMaster">
    </a>
    <a href=".." title="Retour aux créations" style="height:calc(175%*5/18);width:calc(175%*5/18);margin-bottom:calc(-175%*5/18);top:calc(50% - 175%*5/36);">
        <img src="/img/biloumaster.svg" alt="logo créations">
    </a>
    <a href="." title="Retour aux créations" style="height:calc(175%/3);width:calc(175%/3);margin-bottom:calc(-175%/3);top:calc(50% - 175%/6);left:calc(100% - 175%/3)">
        <img src="/img/biloumaster.svg" alt="logo arts">
    </a>
    <img src="/img/biloumaster.svg" alt="logo view" style="height:calc(175%/6);top:calc(100% - 175%/6);left:calc(100% - 175%/6)">
</nav>