<nav id="nav-index">
    <a href="/" title="Retour à l'index" style="height:calc(175%*2/9);width:calc(175%*2/9);margin-bottom:calc(-175%*2/9)">
        <img id="logo" src="/img/biloumaster.svg" width="128" height="128" alt="BilouMaster Joke" fetchpriority="high">
    </a>
    <a href="{prev2}" title="Retour aux {img2}" style="height:calc(175%*5/18);width:calc(175%*5/18);margin-bottom:calc(-175%*5/18);top:calc(50% - 175%*5/36);">
        <img src="/img/{img2}.svg" width="128" height="128" alt="logo {img2}">
    </a>
    <a href="{prev1}" title="Retour aux {img1}s" style="height:calc(175%/3);width:calc(175%/3);margin-bottom:calc(-175%/3);top:calc(50% - 175%/6);left:calc(100% - 175%/3)">
        <img src="/img/{img1}.svg" width="128" height="128" alt="logo {img1}">
    </a>
    <img src="/img/{img0}.svg" alt="logo {img0}" width="128" height="128" style="height:calc(175%/6);width:calc(175%/6);top:calc(100% - 175%/5);left:calc(100% - 175%/7)">
</nav>