<nav id="nav-index">
    <a href="/" title="Retour à l'index" style="height:calc(150%/3);width:calc(150%/3);margin-bottom:calc(-150%/3);">
        <img id="logo" src="/img/biloumaster.svg" alt="logo BilouMaster">
    </a>
    <a href="." title="Retour aux créations" style="height:calc(150%*4/9);width:calc(150%*4/9);margin-bottom:calc(-150%*4/9);top:calc(100% - 150%*4/9);left:calc(50% - 150%*2/9)">
        <img src="/img/biloumaster.svg" alt="logo créations">
    </a>
    <img src="/img/biloumaster.svg" alt="logo arts" style="height:calc(150%*2/9);top:calc(50% - 150%/9);left:calc(100% - 150%*2/9)">
</nav>