<nav>
    <p><small>@biloumaster</small> sur les réseaux sociaux :</p>
    <a href="https://instagram.com/biloumaster" rel="noopener noreferrer" target="_blank" title="@biloumaster sur Instagram...">
        <img alt="Instagram" src="/img/instagram.svg" width="89" height="100">
        <p>instagram</p>
    </a>
    <a href="https://www.facebook.com/biloumaster" rel="noopener noreferrer" target="_blank" title="@biloumaster sur Facebook...">
        <img alt="Facebook" src="/img/facebook.svg" width="83" height="100">
        <p>facebook</p>
    </a>
    <a href="https://twitter.com/biloumaster" rel="noopener noreferrer" target="_blank" title="@biloumaster sur Twitter...">
        <img alt="Twitter" src="/img/twitter.svg" width="100" height="100">
        <p>twitter</p>
    </a>
</nav>