<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{meta_title}</title>
    <meta name="description" content="{meta_description}">
    <meta name="author" content="BilouMaster Joke">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">  
    <link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
    <link rel="stylesheet" href="/src/main.css">
    <link rel="icon" type="image/svg+xml" href="/img/biloumaster.svg">
    <script src="/src/main.js"></script>
    {extralink}
</head>
<body onload="psyche_origin()">
    <header>
        {nav}
        <hgroup>
            <h1>{title}</h1>
            <h2 class="caption">{description}</h2>
        </hgroup>
        <a id="totop" href="#">↑</a>
    </header>
    <main>
        {content}
    </main>
    <footer>
        {footer}
        <small xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
            <a rel="cc:attributionURL" href="https://biloumaster.fr">biloumaster.fr</a> © 2021 by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://biloumaster.fr/joke">BilouMaster Joke</a> <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.fr" target="_blank" rel="license noopener noreferrer" title="CC BY-NC 4.0"><img src="/img/cc.svg" alt="Creative Commons"><img src="/img/by.svg" alt="Attribution"><img src="/img/nc.svg" alt="Non Commercial"></a>
        </small>
    </footer>
</body>
</html>