<a class="navig_element" href="{href}">
    <div class="preview_images">
        <div style="background-image: url('/img/gallery/thumbnail/{img_01}_thumbnail.webp');"></div>
        <div style="background-image: url('/img/gallery/thumbnail/{img_02}_thumbnail.webp');"></div>
        <div style="background-image: url('/img/gallery/thumbnail/{img_03}_thumbnail.webp');"></div>
        <div style="background-image: url('/img/gallery/thumbnail/{img_04}_thumbnail.webp');"></div>
        <div style="background-image: url('/img/gallery/thumbnail/{img_05}_thumbnail.webp');"></div>
        <div style="background-image: url('/img/gallery/thumbnail/{img_06}_thumbnail.webp');"></div>
    </div>
    <img class="navig_icon" src="/img/{icon}.svg" alt="logo {icon}">
    <h2>{title}</h2>
    <p>{description}</p>
</a>