<a class="navig_element" href="{href}">
    <div class="preview_images">
        <div style="background-image: url('{img_01}');"></div>
        <div style="background-image: url('{img_02}');"></div>
        <div style="background-image: url('{img_03}');"></div>
        <div style="background-image: url('{img_04}');"></div>
        <div style="background-image: url('{img_05}');"></div>
        <div style="background-image: url('{img_06}');"></div>
    </div>
    <h1>{title}</h1>
    <p>{description}</p>
</a>