<script type="application/ld+json">
    {{
        "@context": "http://schema.org/",
        "@type": "Corporation",
        "name": "BilouMaster Joke",
        "logo": "https://biloumaster.fr/img/logo.png",
        "url": "https://biloumaster.fr",
        "address": {{
            "@type": "PostalAddress",
            "addressLocality": "Paris",
            "addressCountry": "France"
        }},
        "sameAs": ["https://www.facebook.com/biloumaster", "https://www.instagram.com/biloumaster.joke", "https://twitter.com/biloumaster", "https://www.youtube.com/user/JokeBilouMaster"]
    }}
</script>