<nav id="arrows">{go_prev}{go_next}</nav>
<figure aria-labelledby="main_title main_desc" class="img_container" style="--height: {height}px;">
    <img
        class="viewable"
        src="/img/gallery/{filename}.webp"
        srcset="{srcset}"
        sizes="{sizes}"
        loading="eager"
        decoding="async"
        fetchpriority="high"
        alt="{alt}"
    >
    <figcaption class="image-context">
        {alt}
        <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="/joke">BilouMaster Joke</a> <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.fr" target="_blank" rel="license noopener noreferrer" title="CC BY-NC 4.0"><img src="/img/ui/cc.svg" alt="Creative Commons"><img src="/img/ui/by.svg" alt="Attribution"><img src="/img/ui/nc.svg" alt="Non Commercial"></a>
    </figcaption>
</figure>
{tags}