body.blur > :not(.pswp) {
    filter: blur(2px);
}
main, main * {
    user-select: none;
}
section {
    margin-top: 1.5em;
    box-shadow: 0px 0px 6px var(--biloubgc);
    background: linear-gradient(135deg, var(--biloubgct) 0%, var(--biloubgc33) 600px);
}
section:last-of-type {
    margin-bottom: 1.5em;
}
.folded section {
    margin-top: 1em;
}
section h2 {
    position: sticky;
    top: 0;
    z-index: 900;
    cursor: pointer;
    transition-property: transform, color;
    transition-timing-function: var(--biloustic);
    transition-duration: 0.3s;
    margin: 0.5em auto;
    width: max-content;
}
html:not(.can-touch) section h2:hover {
    color: var(--biloulightgreen);
    transform: scale(1.05);
}
.gallery {
    --ratio: 7;
    display: flex;
    flex-wrap: wrap;
}
.gallery:after {
    content: '';
    flex-grow: 5;
}
.gallery .tags {
    display: none;
}
.thumb {
    margin: 1px;
    flex-grow: 1;
    overflow: hidden;
    max-height: 250px;
    opacity: 0.9;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: var(--biloueazout);
}
html:not(.can-touch) .thumb:hover {
    transition-timing-function: var(--biloustic);
    transform: scale(1.05);
    opacity: 1.0;
    z-index: 10;
    box-shadow: 0px 0px 8px var(--biloubgc);
}
.thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    color: var(--biloubgc);
    background-color: #36333d;
}
main.folded .gallery {
    display: none;
}
.pswp {
    --pswp-bg: var(--biloubgc) !important;
    --pswp-placeholder-bg: var(--biloubgc) !important;
}
.pswp__title {
    width: max-content;
    margin: 0 auto;
    text-align: center;
}
.pswp h1 {
    text-shadow: var(--biloutextborder), 0 0 5px var(--biloubgc), 0 0 6px var(--biloubgc), 0 0 7px var(--biloubgc), 0 0 8px var(--biloubgc);
    margin: 0;
    max-width: 100vw;
    line-height: 1.5em;
}
.pswp date {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
    margin: 0;
}
.pswp__button--arrow .pswp__icn {
    fill: var(--biloulight);
    fill-opacity: 0.33;
    stroke: var(--biloubgc);
    stroke-width: 0.5;
    stroke-opacity: 0.5;
    transition-timing-function: var(--biloustic);
    transition-duration: 0.3s;
    transition-property: transform;
}

.pswp__button--arrow:hover .pswp__icn {
    transform: scale(0.9);
}
.pswp__button--arrow--next:hover .pswp__icn {
    transform: scale(-0.9, 0.9);
}

.pswp__description {
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    bottom: 0;
}
.pswp .caption_container {
    width: max-content;
    max-width: calc(100vw - 6em);
    margin: 0 auto;
}
.pswp .caption {
    box-shadow: 0 0 8px var(--biloubgc33);
}
.pswp .caption p {
    max-height: 8em;
    overflow-y: auto;
    margin: 0;
    scrollbar-width: thin;
}
.pswp .tags a {
    color: var(--bilouhighlight);
    background-color: var(--biloubgc80);
    box-shadow: 0 0 8px var(--biloubgc50);
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
}
.pswp .tags::before, #show_tag_list {
    margin: 0.2em;
    border-radius: 0.5em;
    background-color: var(--biloubgc80);
    box-shadow: 0 0 8px var(--biloubgc50);
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
    padding: 0.25em 0.5em;
}
#show_tag_list {
    position: sticky;
    top: 0.25em;
    color: var(--biloulight);
    width: max-content;
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: auto;
    z-index: 1000;
    transition-property: transform;
    transition-timing-function: var(--biloustic);
    transition-duration: 0.3s;
}
#show_tag_list:hover {
    transform: scale(1.05);
}
.pswp__description, .pswp__description * {
    box-sizing: content-box !important;
}
#tag_list {
    display: none;
}
.pswp #tag_list {
    display: block;
    text-align: center;
    padding: 1.5em;
    margin: 3em auto;
    max-width: 500px;
}
.pswp #tag_list .tags::before {
    content: none;
}
#current_tag {
    background-color: var(--biloubgc50);
    border-radius: 0.5em;
    text-align: center;
    font-family: BilouFontLight;
    margin: 0.5em 0;
    padding: 0.5em;
    display: none;
}
#current_tag a {
    font-family: BilouFont;
}
@media (min-width: 1024px) {
    .gallery {
        --ratio: 8;
    }
}
@media (max-width: 840px) {
    .gallery {
        --ratio: 6.5;
    }
}
@media (max-width: 680px) {
    .gallery {
        --ratio: 6;
    }
}
@media (max-width: 580px) {
    .gallery {
        --ratio: 5;
    }
}
@media (max-width: 420px) {
    .pswp__title {
        position: relative;
        top: 2.5em;
    }
    .pswp {
        --pswp-bg: var(--biloudark) !important;
    }
    #show_tag_list {
        font-family: BilouFontLight;
    }
    #current_tag {
        font-size: 0.8em;
        margin: 0.5em;
    }
}